.login_and_register{
    width: 100%;
    overflow: hidden;
}
.warn{
    width: 100%;
    background-color: #b20000;
    overflow: hidden;
    color: #ffffff;
}
.warn p{
    text-indent: 0.1rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    font-weight: bold;
}
.login,.register{
    margin-top: 0.5rem;
    width: 100%;
    overflow: hidden;
}
.login input,.register input{
    font-size: 0.3rem;
    padding-left:0.14rem ;
    width: 6.7rem;
    height: 0.6rem;
    margin-bottom: 0.52rem;
    border: 0.02rem solid #cccccc;
}
.login h2,.register h2{
    font-size: 0.35rem;
    font-weight: bolder;
    color: #777777;
    margin-bottom: 0.4rem;
}
.login_grid p{
    font-size: 0.28rem;
    color: #777777;
    margin-bottom: 0.18rem;
}
.login_grid a{
    height:0.82rem;
    width: 1.96rem;
    background-color: #02b8e5;
    display: block;
    color: #ffffff;
    line-height: 0.82rem;
    text-align: center;
    font-size: 0.34rem;
    border-radius: 0.06rem;
    margin-bottom: 0.64rem;
}
.login_grid .checkbox{
    height: 0.24rem;
    width: 0.24rem;
}
.login_grid span{
    font-size: 0.24rem;
    color: #777777;
}
.login h5{
    font-size: 0.3rem;
    color: #02b8e5;
    margin-top: 1rem;
}
.safe_note{
    width: 100%;
    overflow: hidden;
    margin-bottom: 0.2rem;
}
.safe_note h4{
    line-height: 0.3rem;
    font-weight: normal;
    font-size:0.24rem;
    color: #777777;
}
.safe_note small{
    font-weight: normal;
    font-size:0.2rem;
    color: #989898;
    line-height: 0.4rem;
}